.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.expanded {
  display: flex;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
}

.constrained-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cross-axis-start {
  align-items: flex-start;
}

.cross-axis-center {
  align-items: center;
}

.cross-axis-end {
  align-items: flex-end;
}

.cross-axis-stretch {
  align-items: stretch;
}

.cross-axis-baseline {
  align-items: baseline;
}

.main-axis-start {
  justify-content: flex-start;
}

.main-axis-center {
  justify-content: center;
}

.main-axis-end {
  justify-content: flex-end;
}

.main-axis-space-between {
  justify-content: space-between;
}

.main-axis-space-around {
  justify-content: space-around;
}

.main-axis-space-evenly {
  justify-content: space-evenly;
}

.main-axis-size-max {
  align-self: stretch;
}

.main-axis-size-min {
  align-self: auto;
}

/* Alignment Class */
.align-top-left {
  align-items: flex-start;
  justify-content: flex-start;
}

.align-top-center {
  align-items: flex-start;
  justify-content: center;
}

.align-top-right {
  align-items: flex-start;
  justify-content: flex-end;
}

.align-center-left {
  align-items: center;
  justify-content: flex-start;
}

.align-center {
  align-items: center;
  justify-content: center;
}

.align-center-right {
  align-items: center;
  justify-content: flex-end;
}

.align-bottom-left {
  align-items: flex-end;
  justify-content: flex-start;
}

.align-bottom-center {
  align-items: flex-end;
  justify-content: center;
}

.align-bottom-right {
  align-items: flex-end;
  justify-content: flex-end;
}

